body{
    padding-top: 200px;
    margin: 0;
    background-image: url('https://cdn.mos.cms.futurecdn.net/98GnqFKaUMYU3GG5HxhLWZ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

a{
    text-decoration: none;
}

#container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px 40px;
    left: 100px;
    position: relative;
    z-index: 0;
    transition: all 2s;
}

.navLogo{
    object-fit: contain;

    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    padding: 10px;
    padding-right: 50px;
    z-index: 2;
}

.navLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 20px;
    max-height: 50px;
}

.navItem:hover{
    font-size: 2em;
    max-height: 55px;
}

.scrollRight{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100px;
    /* background-color: rgba(19, 2, 2, 0.144); */
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding: 10px;
}

.scrollLeft{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100px;
    /* background-color: black; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 10px;
}

/* .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 8px 10px 4px;
    margin: 30px;
    height: 400px;
    width: 400px;
    padding: 10px;
}

.cardParent{
    display: flex;
} */

.poster{
    width: 100px;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 450ms;
}

.poster:hover{
    transform: scale(1.08);
}

button{
    cursor: pointer;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: skyblue;
    border: 1px solid orangered;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 100px;
    height: 40px;
}

#search{
    height: 40px;
}